  <script src="/js/cart.js" defer></script>
  <script src="/js/theme.js" defer></script>
  <% if (typeof pageScript === 'string' && pageScript) { %>
    <script src="<%= pageScript %>" defer></script>
  <% } %>
</body>
</html>
